/* Home */

#home {
    position: fixed;
    top: 20px;
    left: 20px;
    cursor: pointer;
    width: 25px;
    height: 4px;
}


/* main.css */


/* 로딩 */

#link {
    color: #E45635;
    display: block;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    text-decoration: none;
}

#link:hover {
    color: #CCCCCC
}

#link,
#link:hover {
    -webkit-transition: color 0.5s ease-out;
    -moz-transition: color 0.5s ease-out;
    -ms-transition: color 0.5s ease-out;
    -o-transition: color 0.5s ease-out;
    transition: color 0.5s ease-out;
}


/** BEGIN CSS **/

body {
    background: #333333;
    margin: 100px auto;
    /* padding: 20px; */
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body h1 {
    font-size: xx-large;
    color: #fff;
    margin-bottom: 20px;
}

body h3 {
    font-size: large;
    color: #fff;
}

body h6 {
    color: #fff;
}

@keyframes rotate-loading {
    0% {
        transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
    }
}

@-moz-keyframes rotate-loading {
    0% {
        transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes rotate-loading {
    0% {
        transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
    }
}

@-o-keyframes rotate-loading {
    0% {
        transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
    }
}

@keyframes rotate-loading {
    0% {
        transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
    }
}

@-moz-keyframes rotate-loading {
    0% {
        transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes rotate-loading {
    0% {
        transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
    }
}

@-o-keyframes rotate-loading {
    0% {
        transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
    }
}

@keyframes loading-text-opacity {
    0% {
        opacity: 0
    }
    20% {
        opacity: 0
    }
    50% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

@-moz-keyframes loading-text-opacity {
    0% {
        opacity: 0
    }
    20% {
        opacity: 0
    }
    50% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

@-webkit-keyframes loading-text-opacity {
    0% {
        opacity: 0
    }
    20% {
        opacity: 0
    }
    50% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

@-o-keyframes loading-text-opacity {
    0% {
        opacity: 0
    }
    20% {
        opacity: 0
    }
    50% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

.loading-container,
.loading {
    height: 300px;
    position: relative;
    width: 300px;
    border-radius: 100%;
    box-sizing: border-box;
}

.loading-container {
    margin: 200px auto
}

.loading {
    border: 2px solid transparent;
    /* border-color: transparent rgb(112, 211, 112) transparent rgb(112, 211, 112); */
    border-color: transparent #008000 transparent #008000;
    -moz-animation: rotate-loading 1.5s linear 0s infinite normal;
    -moz-transform-origin: 50% 50%;
    -o-animation: rotate-loading 1.5s linear 0s infinite normal;
    -o-transform-origin: 50% 50%;
    -webkit-animation: rotate-loading 1.5s linear 0s infinite normal;
    -webkit-transform-origin: 50% 50%;
    animation: rotate-loading 1.5s linear 0s infinite normal;
    transform-origin: 50% 50%;
}

.loading-container:hover .loading {
    border-color: transparent #E45635 transparent #E45635;
}

.loading-container:hover .loading,
.loading-container .loading {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

#loading-text {
    -moz-animation: loading-text-opacity 2s linear 0s infinite normal;
    -o-animation: loading-text-opacity 2s linear 0s infinite normal;
    -webkit-animation: loading-text-opacity 2s linear 0s infinite normal;
    animation: loading-text-opacity 2s linear 0s infinite normal;
    color: #008000;
    /* color: rgb(183, 255, 183); */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: bold;
    opacity: 0;
    position: absolute;
    top: 125px;
    width: 300px;
    text-align: center;
}

#loading-text span {
    font-size: 12px;
    position: absolute;
    width: 300px;
    right: 0;
}


/* Drawer Menu */

*,
*::before,
*::after {
    box-sizing: border-box
}

a {
    color: #fff;
    text-decoration: none
}

a:hover {
    color: #aaa
}


/* Hide Input */

#navInput {
    display: none
}


/* Container */

#main {
    transition: transform .5s
}

#navInput:checked~#main {
    transform: translateX(-200px)
}


/* Openbtn */

.openbtn {
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
    transition: .5s
}

.openbtn div {
    width: 25px;
    height: 4px;
    border-radius: 5px;
    background: #fff;
    transition: .5s cubic-bezier(0.6, 0.05, 0.28, 0.91)
}

.openbtn #openbtn-mid {
    margin: 4px 0;
}

#navInput:checked~.openbtn {
    right: 205px;
}

#navInput:checked~.openbtn::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .25)
}

#navInput:checked~.openbtn #openbtn-top {
    transform: translateY(4px) rotate(-135deg)
}

#navInput:checked~.openbtn #openbtn-mid {
    opacity: 0;
    transform: rotate(135deg)
}

#navInput:checked~.openbtn #openbtn-bot {
    transform: translateY(-12px) rotate(-45deg)
}


/* Drawer */

#nav {
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100%;
    padding: 30px 10px;
    background: #282828;
    transition: .5s;
    z-index: 10;
    border: 1px solid rgba(100, 100, 100, .5);
}

#navInput:checked~#nav {
    transform: translateX(-200px)
}

#nav a {
    display: block;
    font-size: 1rem;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(100, 100, 100, .5);
    transition: padding-left .5s
}

#nav a:first-child {
    display: block;
    background-color: antiquewhite;
    color: #333;
    height: 150px;
    font-size: 1rem;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 15px;
    margin-left: 0;
    border-bottom: 1px solid rgba(100, 100, 100, .5);
    transition: padding-left .5s
}

#nav a:first-child .info {
    position: absolute;
    text-align: left;
    left: 10px;
}

#nav a:first-child .info #human {
    position: relative;
    right: 60px;
}

#nav a:first-child h1 {
    padding-top: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 15px;
    font-size: 1.5rem;
    color: #333;
    border-bottom: 1px solid rgba(100, 100, 100, .5);
}

#nav a:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0
}

#nav a:hover {
    padding-left: 5px
}

.btn.btn--reverse {
    width: 100px;
    height: 50px;
    margin-top: 20px;
    border: 2px solid #333;
    border-radius: 10px;
    background-color: #fff;
    color: #333;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    /* boxsizing 정의 다시 공부하기 */
    box-sizing: border-box;
    /* 다른태그(ex:a, list)같은 태그들이 inline인데 block으로변환되게; */
    transition: .4s;
}

.btn.btn--reverse:hover {
    background-color: #333;
    color: #fff;
}